@model VisitorModel

@using (Html.BeginForm("Edit", "Visitors", FormMethod.Post))
{


    <div>
        @Html.ValidationSummary()
    </div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" type="text" asp-for="Name" />
        <span class="alert-danger" asp-validation-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Surname"></label>
        <input class="form-control" type="text" asp-for="Surname" />
    </div>
    <div class="form-group">
        <label asp-for="FatherName"></label>
        <input class="form-control" type="text" asp-for="FatherName" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input class="form-control" type="text" asp-for="PhoneNumber" />
    </div>
    <div class="form-group">
        <label asp-for="Login"></label>
        <input class="form-control" type="text" asp-for="Login" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" type="text" asp-for="Password" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
}