@model IEnumerable<MassageSalon.WEB.Models.OfferModel>
@{
    ViewData["Title"] = "Offers";
}

@{if (User.IsInRole("admin"))
        @using (Html.BeginForm("Add", "Offer", FormMethod.Get))
        {
            <div class="form-group">
                <button type="submit" class="fas fa-plus">Add Offer</button>
            </div>
        }
}
@await Html.PartialAsync("Search")

<div class="d-flex justify-content-start flex-row flex-wrap">
    @foreach (var offer in Model.OrderBy(s => s.Price))
    {
        <div class="card border-dark mb-3"  style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@offer.Title</h5>
                <p class="card-text">@offer.Description</p>
                <p class="card-text">Price: @offer.Price &#128176</p>
                @{ if (User.Identity.IsAuthenticated)
                    {
                        <a class="card-link" asp-controller="Record" asp-action="CreateRecord">Record</a>
                    }

                }

                @{if (User.IsInRole("admin"))
                    {
                        <a  class="fas fa-edit" onclick="location.href='@Url.Action("Edit", "Offer", offer)'">Edit</a>
                        @using (Html.BeginForm("Delete", "Masseurs", new { Id = offer.Id }, FormMethod.Post))
                        {
                            <button type="submit"><i class="fas fa-trash"></i></button>
                        }
                    }
                }
            </div>

        </div>
    }
</div>
