@using (Html.BeginForm("Search", "Offer", FormMethod.Post))
{
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search offer" name="search"/>
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">
                    Search
                </button>
            </div>

        </div>

    </div>
}