@model IEnumerable<ReviewModel>
@{
    ViewData["Title"] = "Reviews";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Responses</title>
</head>
<body>
    <div class="panel-body">
        <h2>Reviews</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Masseur</th>
                    <th>UserReview</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MassageSalon.WEB.Models.ReviewModel r in Model)
                {
                    <tr>
                        <td>@r.UserReview</td>
                        <td>@r.Masseur.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
