@model IEnumerable<ReviewModel>
@{
    ViewData["Title"] = "Reviews";
}


<div class="d-flex flex-column" style="width: 90%; height: 80%;">
    <div class="d-flex flex-row-reverse">
        <div class="p-2">
            @if (User.Identity.IsAuthenticated)
            {
                <button type="button" class="btn btn-success"
                        onclick="location.href = '@Url.Action("Edit", "Reviews")'">
                    Add review
                </button>
            }
        </div>
    </div>

    <div class="d-flex flex-column">
        @foreach (var review in Model.OrderBy(x => x.Masseur.Surname))
        {
            <div class="card" style="width: 14rem; height: 14rem; margin: 2rem;">
                <img class="card-img-top" src="~/images/ProfilesPhoto/@review.Masseur.TitleImagePath" alt="Image of Masseur" style="width: 50%; height: 50%;">
                <div class="card-body">
                    <h5 class="card-title">@review.Visitor.Login</h5>
                    <p class="card-text">@review.UserReview</p>
                </div>
            </div>
        }
    </div>
</div>
