 @*Header*@ 
<section id="header" class="wrapper">

     @*Logo*@ 
    <div id="logo">
        <h1><a href="index.html">MassageSalon</a></h1>
        <p>The best salon you've ever seen!</p>
    </div>

     @*Nav*@ 
    <nav id="nav">
        <ul>
            <li><a asp-area="" asp-controller="Offer" asp-action="Index">Offers</a></li>
            <li>
                <a href="#">Information</a>
                <ul>
                    <li><a asp-area="" asp-controller="Masseurs" asp-action="Index">Masseurs</a></li>
                    <li>
                        @{
                            if (User.IsInRole("admin"))
                            {
                                <a asp-area="" asp-controller="Visitors" asp-action="Index">Visitors</a>
                            }
                            else if (User.IsInRole("user"))
                            {
                                <a asp-area="" asp-controller="Visitors" asp-action="Index">Your Profile</a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Visitors" asp-action="Index" class="not-active">Visitor(Log In)</a>
                            }
                        }
                    </li>
                    <li><a asp-area="" asp-controller="Reviews" asp-action="Index">Reviews</a></li>
                    <li>
                        <a href="#">Sed consequat</a>
                        <ul>
                            <li><a href="#">Lorem dolor</a></li>
                            <li><a href="#">Amet consequat</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam nisl</a></li>
                            <li><a href="#">Sed feugiat</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Nisl tempus</a></li>
                </ul>
            </li>
            <li>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("admin"))
                        {
                            <a asp-area="" asp-controller="Record" asp-action="Index">Records</a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Record" asp-action="CreateRecord">Record</a>
                        }
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Record" asp-action="Index" data-tooltip="Login to record">Record</a>
                    }
                }
            </li>
            <li class="current">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-id="">Login</a>
                    }
                }
            </li>
            <li>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                         <a asp-area="" asp-controller="Account" asp-action="Register" class="not-active">Register</a>
                    }
                    else
                    {
                        <a  asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                    }
                }
            </li>
        </ul>
    </nav>

</section>
@*<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a href="/" id="logo">Massage salon</a></h1>
                    <nav id="nav">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-id="">Наши услуги</a>
                        <a asp-area="" asp-controller="Account" asp-action="Register">Контакты</a>
                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>*@
