@model IEnumerable<MasseurModel>
@{
    ViewData["Title"] = "Masseurs";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Responses</title>
</head>
<body>
    <div class="panel-body">
        <h2>Here is a list of masseurs!</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>MiddleName</th>
                    <th>BirthDate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MassageSalon.WEB.Models.MasseurModel r in Model)
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.Surname</td>
                        <td>@r.FatherName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>