@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Massage Salon is a relaxing oasis in the heart of Minsk.We specialize in offering a massage!</h1>
</div>
